@using System.Security.Claims

@{
    ViewData["Title"] = "Claims";
    // extract the claims principal from the http context
    var p = @User;
}

<h1 class="bg-info text-white">Claims</h1>


@if (p is ClaimsPrincipal)
{
    <!-- loop through the claims in the claims principle -->
    @foreach (Claim c in p.Claims)
    {
        <h4>Type</h4>
        <p>@c?.Type</p>
        <h4>Value</h4>
        <p>@c?.Value</p>
        <hr />
    }
}
