@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>SocialNexus does not retain data pulled from external API's.</p>
<p>However, there are two exceptions to this rule:</p>
<ul>
    <li>if you have an account with us, we save your name and email in a Microsoft Azure database</li>
    <li>we save any persisted data, like a product in the shop, in the  <a href="https://api.social-nexus.net/api/">SocialNexus API</a> </li>
</ul>
